.container{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.container div{
    width: 300px;
    height: 300px;
    margin: 5px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 20px;
    background-color: black;
}

.container div:nth-child(1){
    
    background-image: url('../../img/crepe.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container div:nth-child(2){
    
    background-image: url('../../img/Waffles.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container div:nth-child(3){
    
    background-image: url('../../img/churritos.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container div:nth-child(4){
    
    background-image: url('../../img/panqueca.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h4{
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    border: 1px solid whitesmoke;
    text-align: center;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.39);
}


