@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');


header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5a3821;

}

h1:nth-child(1){
    font-size: 4rem;
    
    text-shadow: -1px 0 white, 0 1px white,
      1px 0 white, 0 -1px white
}

h1:nth-child(2){
    font-family: 'Dancing Script', cursive;
    color: red;
    font-size: 4rem;
    text-shadow: -1px 0 white, 0 1px white,
      1px 0 white, 0 -1px white
    
}